.App {
  text-align: center;
  padding: 20px;
}

.description {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left:10%;
  margin-right: 10%;
  font-size: 16px;
  text-align: left;
}
.btn-small-text {
  font-size: 14px;
}
.description p {
  margin: 10px 0;
  
}

.description a {
  color: #007bff;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

.voice-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.voice-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

audio {
  margin-bottom: 10px;
}
